# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Python虚拟环境
# =========================
.venv/
venv/

# =========================
# VS Code个人配置
# =========================
.vscode/

# =========================
# 密钥、环境变量
# =========================
.env
*.env

# =========================
# 临时文件
# =========================
*.log
.DS_Store
Thumbs.db

# =========================
# 原始实验数据
# 以后采集真人压力数据时不要直接上传
# =========================
data/raw/

# =========================
# 模型训练临时文件
# =========================
*.tmp